<ion-header>
  <ion-navbar>
    <ion-title>Flight
      <strong>Search</strong>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="flight-type" [(ngModel)]="tripType" radio-group no-lines>
    <ion-item *ngFor="let type of tripTypes">
      <ion-radio [value]="type"></ion-radio>
      <ion-label>{{type}}</ion-label>
    </ion-item>
  </ion-list>

  <div class="search">
    <div class="ap-from" (click)="depAp.open()">
      <span class="label-title">from</span>
      <span class="label-city text-dark">{{departAp?.city_name}}</span>
      <span class="label-code">{{departAp?.IATA_code}}</span>
    </div>
    <hr/>
    <div class="swap" (click)="swapAirports()">
      <img src="assets/imgs/swap-arrows.svg">
    </div>
    <div class="ap-to" (click)="retAp.open()">
      <span class="label-title">to</span>
      <span class="label-city text-dark">{{returnAp?.city_name}}</span>
      <span class="label-code">{{returnAp?.IATA_code}}</span>
    </div>
    <hr/>
    <div class="ap-date">
      <div (click)="pkrDpt.open()">
        <span class="label-title">departure</span>
        <span class="label-date text-dark">{{departDate | dateFormat:'dd'}}</span>
        <div class="label-date-desc">
          {{departDate | dateFormat:'MMM yyyy'}}
          <br/> {{departDate | dateFormat:'EEEE'}}
        </div>
        <button ion-button [hidden]="true">
          <ion-datetime #pkrDpt pickerFormat="DD MMM YYYY" [min]="departDateMin" [(ngModel)]="departDate" (ionChange)="onUpdateDepartDate()"></ion-datetime>
        </button>
      </div>
      <div (click)="pkrRet.open()" *ngIf="tripType == 'Round Trip'">
        <span class="label-title">return</span>
        <span class="label-date text-dark">{{returnDate | dateFormat:'dd'}}</span>
        <div class="label-date-desc">
          {{returnDate | dateFormat:'MMM yyyy'}}
          <br/> {{returnDate | dateFormat:'EEEE'}}
        </div>
        <button ion-button [hidden]="true">
          <ion-datetime #pkrRet pickerFormat="DD MMM YYYY" [min]="departDate" [(ngModel)]="returnDate"></ion-datetime>
        </button>
      </div>
    </div>
    <div class="ap-sbtn" text-center>
      <button (click)="searchFlights()">Search</button>
    </div>
  </div>

  <select-searchable #depAp [(ngModel)]="departAp" [items]="airports" [hidden]="true" itemValueField="IATA_code" itemTextField="city_name"
    [canSearch]="true"></select-searchable>
  <select-searchable #retAp [(ngModel)]="returnAp" [items]="airports" [hidden]="true" itemValueField="IATA_code" itemTextField="city_name"
    [canSearch]="true"></select-searchable>
</ion-content>